version: "3.8"

services:
  productor-ubicaciones:
    build: .
    container_name: productor-ubicaciones
    ports:
      - "8081:8081"
    environment:
      # Kafka - apunta a los brokers internos de la red Docker
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
    networks:
      - kafka-net
    restart: unless-stopped

networks:
  kafka-net:
    external: true
